pytest==9.1.1
pytest-cov==7.1.0
pytest-twisted==1.14.3
Twisted==26.4.0
cryptography==50.0.0
cssselect==1.5.0
itemadapter==0.13.1
itemloaders==1.4.0
lxml==6.0.0
parsel==1.11.0
Protego==0.6.2
PyDispatcher==2.0.7
pyOpenSSL==26.4.0
queuelib==1.9.0
service-identity==26.1.0
tldextract==5.3.2
w3lib==2.4.1
zope.interface==8.5
brotli==1.2.0
backports.zstd==1.7.0
