pytest==9.1.1
pytest-cov==7.1.0
requests==2.32.4
urllib3==2.5.0
colorama==0.4.6
PyYAML==6.0.3
patch-ng==1.19.1
fasteners==0.20
Jinja2==3.1.6
python-dateutil==2.9.0.post0
WebTest==3.0.7
bottle==0.13.4
pluginbase==1.0.1
PyJWT==2.13.0
